<form
  [formGroup]="questionForm"
  (ngSubmit)="submit()"
  *ngIf="!loading; else loadingTemp"
>
  <app-question-card *ngFor="let question of questions; let i = index">
    <h3>{{ i + 1 }}. {{ question.name }}</h3>

    <app-radio-input
      [question]="question._id"
      [controlName]="controls[question._id]"
      [inputId]="answer._id"
      *ngFor="let answer of getQuestionAnswers(question._id)"
    >
      {{ answer.name }}
    </app-radio-input>
  </app-question-card>

  <button type="submit" class="btn btn-primary px-3">Submit answers</button>
</form>

<ng-template #loadingTemp>
  <div class="text-center">
    <div class="spinner-grow text-primary my-5 mx-2"></div>
    <div class="spinner-grow text-primary my-5 mx-2"></div>
    <div class="spinner-grow text-primary my-5 mx-2"></div>
  </div>
</ng-template>
