<div class="card shadow p-3 m-3">
  <div class="row">
    <div class="col-4">
      <img src="assets/machine.jpg" />
    </div>
    <div class="col-8">
      <h3>{{ machine?.name }}</h3>
      <p class="text-primary mt-3">Description</p>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corrupti
        cupiditate? Suscipit delectus officia, ea et eum, reprehenderit id
        magnam fugiat rem deleniti odio quis beatae tempora eligendi dolores
        maiores?
      </p>
      <button class="btn btn-primary">Submit a Request</button>
    </div>
  </div>
</div>

<div class="text-center my-5">
  <h1>This Machine is Highly recommended</h1>

  <p class="display-3">
    This machine Related to factory
    <span class="text-primary">{{ factory?.name }}</span>
  </p>
  <button (click)="back()" class="btn btn-secondary px-5">
    Back to Questions
  </button>
</div>
