<app-modal modalID="question">
  <form [formGroup]="questionForm" (ngSubmit)="submit($event)">
    <div class="mb-3" *ngIf="isQuestion; else answers">
      <label for="question" class="form-label">Add new question</label>
      <input
        type="text"
        class="form-control"
        id="question"
        formControlName="question"
        [ngClass]="{
          'is-invalid': question.touched && question.dirty && question.errors
        }"
      />
      <app-validation [control]="question"></app-validation>
    </div>
    <ng-template #answers>
      <div class="mb-3">
        <label for="question" class="form-label">Add first answer</label>
        <input
          type="text"
          class="form-control"
          id="question"
          formControlName="firstAnswer"
          [ngClass]="{
            'is-invalid':
              firstAnswer.touched && firstAnswer.dirty && firstAnswer.errors
          }"
        />
        <app-validation [control]="firstAnswer"></app-validation>
      </div>
      <div class="mb-3">
        <label for="question" class="form-label">Add second answer</label>
        <input
          type="text"
          class="form-control"
          id="question"
          formControlName="secondAnswer"
          [ngClass]="{
            'is-invalid':
              secondAnswer.touched && secondAnswer.dirty && secondAnswer.errors
          }"
        />
        <app-validation [control]="secondAnswer"></app-validation>
      </div>
      <div class="mb-3">
        <label for="question" class="form-label">Add third answer</label>
        <input
          type="text"
          class="form-control"
          id="question"
          formControlName="thirdAnswer"
          [ngClass]="{
            'is-invalid':
              thirdAnswer.touched && thirdAnswer.dirty && thirdAnswer.errors
          }"
        />
        <app-validation [control]="thirdAnswer"></app-validation>
      </div>

      <button
        type="button"
        class="btn btn-secondary me-2"
        (click)="isQuestion = true"
      >
        Back to Question
      </button>
    </ng-template>

    <button
      [disabled]="
        (question.errors && isQuestion) || (!isQuestion && questionForm.invalid)
      "
      type="submit"
      class="btn btn-primary"
    >
      {{ isQuestion ? "Add Answers >> " : "Submit" }}
    </button>
  </form>
</app-modal>
